*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    max-width: 120rem;
    margin: 0 auto;
    
}
body{
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #0b0f07, rgb(49, 53, 43));
    
}

footer{
    
        
        bottom: 0;
        
        font-family: sans-serif;
        font-size: 20px;
        color: white;
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: linear-gradient(to right, #0b0f07, rgb(49, 53, 43));
        opacity: 0.6;
    
}

.col-3>img, .col-5>img,  .col-7>img{
    width: 100%;
    /* height: calc(100% - 10px); */
    object-fit: cover;
    height: 150px;  
}
.card{
    background-color: rgb(238, 235, 233);
}
.card:hover{
    transform: scale(1.05);
}
#nav {
    background-color: transparent;
}
.rank{
    color: rgb(208, 108, 9);
}
.cuadro{
    border: 2px solid white;
    height: 900px;
}
li{
    list-style: none;
    
}
.btnFil{
    color: red;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20vph;
    cursor: pointer;
    background-color: transparent;
    text-decoration:none;
}
.btnFil:hover{
    background-color: beige;
}
.vot{
    color: antiquewhite;
    font-size: clamp(1.2rem, 2vw, 1.25rem);
}
.card-title, .card-text{
    font-size: clamp(0.9rem, 1vw, 2rem);
}
.btn{
    height: 40px;
    text-align: center;
}
.pre{
    margin-top: 15px;
    padding: 3px;
    border: 2px solid yellow;
    background: linear-gradient(to bottom, #0f110ede, rgb(49, 53, 43));
    border-radius: 13px;
}
.rec{
    font-size: clamp(1.5rem, 1vw, 2rem);
    color: antiquewhite;
}
.card-title-hor{
    color: antiquewhite;
    
}

.peli-rec-ti{
    background-color: antiquewhite;
    color: #0b0f07;
    font-size:  clamp(0.6rem, 1vw, 2rem);;
}



/*Efecto reversible*/


.face{
    position: absolute;
    backface-visibility: hidden;
    overflow: hidden;
    width: 100%;
    height: 100%;
    transition: .9s;
}


.card .front{
    transform: perspective(600px) rotateY(0deg);
}

.card .back{
    transform: perspective(600px) rotateY(180deg);
    background-color: rgb(36, 36, 72);
    font-size:10px;
    color: antiquewhite;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card:hover .front{
    transform: perspective(600px) rotateY(180deg);
}
.card:hover .back{
    transform: perspective(600px) rotateY(360deg);
}
/*-------------------------------------------------------*/

@media (min-width: 400px){
 
    .rec{
        font-size: clamp(0.6rem, 1vw, 2rem);
        color: antiquewhite;
    }

    .peli-rec-ti{
       
        font-size:  clamp(0.3rem, 1vw, 2rem);
    }


    .titulo-back{
        font-size:  clamp(0.6rem, 1vw, 2rem);
    }
    .descrip{
        font-size:  clamp(0.6rem, 1vw, 2rem);
    }
    .fecha-estreno{
        font-size:  clamp(0.6rem, 1vw, 2rem);
    }
 }

 @media (min-width: 1200px){
 
    .rec{
        font-size: clamp(1.5rem, 1vw, 2rem);
        color: antiquewhite;
    }
  

    .titulo-back{
        font-size:  clamp(0.2rem, 1vw, 2rem);
    }
    .descrip{
        font-size:  clamp(0.1rem, 1vw, 1rem);
    }
    .fecha-estreno{
        font-size:  clamp(0.2rem, 1vw, 2rem);
    }

 }